@font-face {
	font-family: 'Lovelace-text';
	src: url('./fonts/Lovelace-text-regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lovelace-text bold';
	src: url('./fonts/Lovelace-text-bold-italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Bellefair Regular';
	src: url('./fonts/Bellefair-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Brittany Signature';
	src: url('./fonts/BrittanySignature.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* fallback for IE */
.gradient-text {
	@apply text-primary;
}
/* gradient text for modern browsers */
@supports (background-clip: text) {
	.gradient-text {
		@apply text-transparent bg-clip-text;
		/* @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500; */
		@apply bg-gradient-to-br from-[#8f5d46] via-[#b9aa8d] to-[#5C8271];
	}
}
