[data-theme='light'] {
	--color-primary: #8f5d46;
	--color-secondary: theme('colors.orange.800');
	--color-text: theme('colors.slate.900');
	--color-text-offset: theme('colors.slate.600');
	--color-background: #f1eee9;
	--color-background-offset: theme('colors.slate.100');
	--color-border: theme('colors.slate.900' / 10%);
}

[data-theme='dark'] {
	--color-primary: #b9aa8d;
	--color-secondary: theme('colors.orange.200');
	--color-text: #f1eee9;
	--color-text-offset: theme('colors.slate.400');
	--color-background: theme('colors.slate.900');
	--color-background-offset: theme('colors.slate.800');
	--color-border: theme('colors.slate.50' / 10%);
}
