---
import { Icon } from 'astro-icon';
import ContentSection from '@components/content-section.astro';
---

<ContentSection title="A little about me" id="about">
	<Icon slot="eyebrow" name="logo" class="h-32" />
	<Fragment slot="lead">
		<p class="max-w-xl font-extrabold text-center">
			Thanks for stopping by. For the past 3 years, I've excelled in developemnt teams at SaaS
			companies and digital marketing agency. I'm currently a software developer at Upstream Media
			building things for the software with some awesome people. I enjoy bridging the gap between my
			technical knowledge with my keen eye for design to create a beautiful product.
		</p>
		<p class="max-w-xl font-extrabold text-center">
			My goal is to always build scalable applications while providing engaging, pixel-perfect user
			experiences. So far my journey has been one of continuous learning, which is why I love
			collaborating with people and exchanging skills. When I'm not in front of a computer screen, I
			enjoy hiking, walk my dogs, and playing new piano pieces. I'm always looking for a new room to
			flourish and grow.
		</p>
	</Fragment>
</ContentSection>

<ContentSection title="Why tech?" id="why">
	<!-- <Icon slot="eyebrow" name="logo" class="h-32" /> -->
	<Fragment slot="lead">
		<p class="max-w-xl font-extrabold text-center">
			Code to me feels like I'm <span class="text-primary">learning a new instrument</span>, an
			instrument that is only limited by my imagination. Finding solutions became just as creative
			as writing a new song. Reading code for me is like reading sheet music — the printed notes
			require interpretation and execution. Every day I code it takes me a little closer to <span
				class="text-primary">building anything I can dream of</span
			>; and that sense of satisfaction I get after finishing a project is something I haven't felt
			in years.
		</p>
	</Fragment>
</ContentSection>
