---
import { Icon } from 'astro-icon';
import ContentSection from './content-section.astro';
---

<ContentSection title="A little about me" id="about">
	<Icon slot="eyebrow" name="logo" class="h-6" />
	<Fragment slot="lead">
		Thanks for stopping by. For the past 3 years, I've excelled in engineering teams at SaaS
		companies and digital marketing agency. I'm currently working remotely at
		<a
			href="https://upstream-media.ch/"
			target="_blank"
			class="decoration-primary hover:underline hover:underline-offset-[6px]">Upstream Media</a
		>
		building things for the software with some awesome people. I enjoy bridging the gap between my
		<span class="text-primary">technical knowledge</span> with my <span class="text-primary"
			>keen eye for design</span
		>
		to create a beautiful product. My goal is to always build scalable applications while providing engaging,
		pixel-perfect user experiences.
		<br /><br />
		So far my journey has been one of continuous learning, which is why I love collaborating with people
		and exchanging skills. When I'm not in front of a computer screen, I enjoy hiking, walk my dogs,
		and playing piano. I'm always <span class="text-primary"
			>looking for a new room to flourish and grow</span
		>.
	</Fragment>
</ContentSection>

<ContentSection title="Why tech?" id="why">
	<Icon slot="eyebrow" name="logo" class="h-6" />
	<Fragment slot="lead">
		Code to me feels like I'm <span class="text-primary">learning a new instrument</span>, an
		instrument that is only limited by my imagination. Finding solutions became just as creative as
		writing a new song. Reading code for me is like reading sheet music — the printed notes require
		interpretation and execution. Every day I code it takes me a little closer to <span
			class="text-primary">building anything I can dream of</span
		>; and that sense of satisfaction I get after finishing a project is something I haven't felt in
		years.
	</Fragment>
</ContentSection>
