---
export interface Props {
	id: string;
	title: string;
}
const { title, id } = Astro.props;
---

<section id={id} class="relative grid gap-12 h-full sm:grid-cols-2 place-items-start scroll-mt-40">
	<div class="flex flex-row items-center gap-2">
		<slot name="eyebrow" />
		<h2 class="py-4 text-xl font-extrabold font-title tracking-tight text-center gradient-text">
			{title}
		</h2>
	</div>
	<p class="leading-snug max-w-xl font-regular text-left">
		<slot name="lead" />
	</p>
	<slot />
</section>
