---
import { Icon } from 'astro-icon';
import type { FeatureItem } from '../types';

const features: Array<FeatureItem> = [
	{
		title: 'Front-end',
		description: 'JavaScript, Typescript, Angular, Vue.js, HTML, Sass, Bootstrap, Tailwind CSS',
		icon: 'tabler:browser',
	},
	{
		title: 'Back-end',
		description: 'Ruby on Rails, NodeJS',
		icon: 'tabler:code',
	},
	{
		title: 'Version Control',
		description: 'Git, Github, Bitbucket',
		icon: 'tabler:git-merge',
	},
	{
		title: 'Project Management',
		description: 'JIRA, Trello, Github Kanban, Notion',
		icon: 'tabler:rocket',
	},
	{
		title: 'Product Design',
		description: 'Figma, Adobe XD, Lucidchart, Canva',
		icon: 'tabler:brush',
	},
	{
		title: 'Softskills',
		description: 'Teamwork, Curiosity and continuous learning, Humour, Time Management',
		icon: 'tabler:mood-happy',
	},
];
---

<section id="features" class="flex flex-col items-center gap-4 space-y-8 scroll-mt-40">
	<div class="flex flex-col items-center gap-4">
		<h2 class="p-12 text-6xl font-title font-extrabold tracking-tight text-center gradient-text">
			Skills & Proficiencies
		</h2>
	</div>
	<ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
		{
			features.map(({ title, description, icon }) => (
				<li class="flex flex-col items-center gap-4 m-4 p-6 border rounded-3xl border-default bg-offset">
					<div class="w-16 h-16 p-3 border-current rounded-full">
						<Icon name={icon} />
					</div>
					<p class="text-xl font-display font-normal text-center">{title}</p>
					<p class="text-sm text-center text-offset">{description}</p>
				</li>
			))
		}
	</ul>
	<slot />
</section>
