---
import { Icon } from 'astro-icon';
import type { FooterLink } from '../types';
const today = new Date();
const links: Array<FooterLink> = [
	{
		url: 'mailto:zhijun.low@gmail.com',
		description: 'Jun\'s email',
		icon: 'platforms/mail',
	},
	{
		url: 'https://github.com/jun-low',
		description: 'Jun on GitHub',
		icon: 'platforms/github',
	},
	{
		url: 'https://dev.to/junlow',
		description: 'Jun on Dev.to',
		icon: 'platforms/dev',
	},
	{
		url: 'https://www.linkedin.com/in/jun-low/',
		description: 'Jun on LinkedIn',
		icon: 'platforms/linkedin',
	},
	{
		url: 'https://twitter.com/_junlow',
		description: 'Jun on Twitter X',
		icon: 'platforms/twitter-x',
	},
];
---

<footer class="relative py-10">
	<h2 class="p-12 text-6xl font-extrabold font-title tracking-tight text-center gradient-text">
		Connect with me
	</h2>
	<ul class="relative flex items-center justify-center">
		{
			links.map((link) => (
				<li>
					<a class="flex items-center justify-center w-16 h-16 p-4" href={link.url}>
						<span class="sr-only">{link.description}</span>
						<Icon class="h-full" name={link.icon} />
					</a>
				</li>
			))
		}
	</ul>
	<p class="text-xs text-center italic">
		&copy; {today.getFullYear()} Jun Low. All rights reserved.
	</p>
</footer>
