---
import { Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import junImage from '../assets/jun.jpg';
import HeroImage from '@components/hero-image.astro';
import HeaderLink from '@components/header-link.astro';

const widths = [450, 800];
const sizes = '(min-width: 640px) 42vw, 67vw';
---

<section class="relative h-screen">
	<div id="splash-bg-fallback" class="absolute inset-0 opacity-40">
		<HeroImage />
	</div>
	<div class="relative grid gap-12 h-full sm:grid-cols-2 place-items-center">
		<div class="flex flex-col self-end gap-2 sm:gap-4 sm:self-auto sm:justify-self-end">
			<h1 class="font-display font-regular tracking-tighter text-left text-8xl">
				Hello, <br /> I'm Jun Low
			</h1>
			<p class="font-regular">
				I help clients design their dreams,<br />and then I make those dreams come true.
			</p>
			<div class="cta flex justify-start gap-4">
				<HeaderLink href="mailto@zhijun.low@gmail.com" target="_blank" class="group flex text-sm">
					Say hello
					<Icon
						name="arrow-up-right"
						class="h-6 transition ease-in-out group-hover:delay-300 translate-y-0 -translate-x-0 group-hover:-translate-y-1 group-hover:translate-x-2"
					/>
				</HeaderLink>
				<HeaderLink
					href="https://www.linkedin.com/in/jun-low/"
					target="_blank"
					class="group flex text-sm"
				>
					Linkedin
					<Icon
						name="arrow-up-right"
						class="h-6 transition ease-in-out group-hover:delay-300 translate-y-0 -translate-x-0 group-hover:-translate-y-2 group-hover:translate-x-2"
					/>
				</HeaderLink>
			</div>
		</div>
		<div
			id="profile-image-container"
			class="self-start w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-start"
		>
			<Picture
				class="object-cover w-60 h-60"
				src={junImage}
				widths={widths}
				sizes={sizes}
				alt="A profile-image-container of jun"
			/>
		</div>
	</div>
</section>

<noscript>
	<style>
		#splash-bg-fallback {
			display: block;
		}
	</style>
</noscript>

<style>
	@keyframes blob {
		0% {
			border-radius: 50% 32% 20% 70% / 60% 40% 55% 40%;
		}

		25% {
			border-radius: 40% 57% 40% 81% / 84% 76% 45% 38%;
		}

		50% {
			border-radius: 25% 68% 40% 46% / 59% 36% 45% 38%;
		}

		75% {
			border-radius: 40% 27% 26% 58% / 70% 36% 64% 32%;
		}

		100% {
			border-radius: 50% 32% 20% 70% / 60% 40% 55% 40%;
		}
	}
	#profile-image-container img {
		-webkit-animation: blob 2.5s linear infinite;
		animation: blob 2.5s linear infinite;
		border: 2px solid #617f93;
	}
	@media (prefers-reduced-motion: reduce) {
		#profile-image-container {
			@apply animate-none;
		}
		:global(#starfield) {
			@apply hidden;
		}
		#splash-bg-fallback {
			@apply block;
		}
	}
</style>
